<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="..\resources\css\bootstrap.min.css">
    <link rel="stylesheet" href="..\resources\css\style.css">

    <title>Poll App</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <a class="navbar-brand" href="#">PollApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
    </button>
    <button type="button" class="btn btn-danger btn-lg btn-block" id="pollCreate">Create your poll</button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Register <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<br><br>
<div class="container">
    <form class="hidden" method="post" id="pollForm">
        <fieldset>
            <legend>Create poll</legend>
            <div class="form-group">
                <div id="poll" class="container">
                    <label for="question">Your question</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp"
                           name="question" id="question" placeholder="Enter question"><br>
                </div>
                <div class="container">
                    <label for="answers">Answers</label>
                </div>
                <div id="answers" class="container form-group">
                    <input type="text" class="form-control" aria-describedby="emailHelp"
                           name="content" placeholder="Enter answer">
                    <input type="text" class="form-control" aria-describedby="emailHelp"
                           name="content" placeholder="Enter answer">
                </div>
                <div class="container form-group">
                    <button type="button" class="btn btn-danger disabled add-answer">ADD ANSWER</button>
                    <button type="button" class="btn btn-danger disabled remove-answer">REMOVE ANSWER</button>
                </div>
                <div class="container form-group">
                    <label for="selected-categories">Selected categories</label>
                    <div class="container row">
                        <ul id="selected-categories" class="nav nav-tabs nav-justified"></ul>
                    </div>
                </div>
                <div class="container form-group">
                    <label for="all-categories">Categories</label>
                    <div class="container row">
                        <ul id="all-categories" class="nav nav-tabs nav-justified"></ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </fieldset>
    </form>
</div>
<br>

<div class="row">
    <div class="col-sm-3">
        GAME?
    </div>
    <div class="col-sm-3">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-danger">Categories</button>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"></button>
                <div id="closedPollsCategories" class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                </div>
            </div>
        </div>
        <br/><br/>
        <div id="closedPolls"></div>
    </div>
    <div class="col-sm-3">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-danger">Categories</button>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop2" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"></button>
                <div id="openPollsCategories" class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                </div>
            </div>
        </div>
        <br/><br/>
        <div id="ongoingPolls"></div>
    </div>
    <div class="col-sm-3">
        Auhors details
    </div>
</div>

<!-- scripts -->
<script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="..\resources\js\util.js"></script>
<script src="..\resources\js\app.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>

</html>
